body{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.creativePic1{

    position: relative;
    top: 0vh;
    left: 0vw;
    height: 90vh;
    max-width: 100vw;
    background: #ffffff;
    /* border: 2px solid black;     */
}

.creativePic1 > img{

    height: 100%;
    width: 100%;
}

.creativePic2{

    position: absolute;
    top: 8vh;
    left: 12vw;
    height: 40vh;
    width: 30vw;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}